
@font-face {font-family: "maigouwang";
  src: url('iconfont.eot?t=1470015190'); /* IE9*/
  src: url('iconfont.eot?t=1470015190#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1470015190') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1470015190') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1470015190#maigouwang') format('svg'); /* iOS 4.1- */
}

.maigouwang {
  font-family:"maigouwang" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ift-up:before { content: "\e600"; }
.ift-down:before { content: "\e601"; }
.ift-30day:before { content: "\e602"; }
.ift-advise:before { content: "\e603"; }
.ift-ask:before { content: "\e604"; }
.ift-chip:before { content: "\e605"; }
.ift-choose:before { content: "\e606"; }
.ift-contract:before { content: "\e609"; }
.ift-depict:before { content: "\e60a"; }
.ift-phone:before { content: "\e60b"; }
.ift-plane:before { content: "\e60c"; }
.ift-prev:before { content: "\e60d"; }
.ift-pure:before { content: "\e60e"; }
.ift-qq:before { content: "\e60f"; }
.ift-safepay:before { content: "\e610"; }
.ift-search:before { content: "\e611"; }
.ift-service:before { content: "\e612"; }
.ift-shop:before { content: "\e613"; }
.ift-sina:before { content: "\e614"; }
.ift-user:before { content: "\e615"; }
.ift-guide:before { content: "\e616"; }
.ift-healthy:before { content: "\e617"; }
.ift-heart:before { content: "\e618"; }
.ift-mico:before { content: "\e619"; }
.ift-more:before { content: "\e61a"; }
.ift-next:before { content: "\e61b"; }
.ift-payment:before { content: "\e61c"; }
.ift-wangwang:before { content: "\e61d"; }
.ift-weixin:before { content: "\e61e"; }
.ift-vaccin:before { content: "\e61f"; }
.ift-vedio:before { content: "\e620"; }
.ift-msg:before { content: "\e621"; }
.ift-del:before { content: "\e622"; }
.ift-alarm:before { content: "\e623"; }
.ift-share:before { content: "\e624"; }
.ift-ding:before { content: "\e625"; }
.ift-logo:before { content: "\e626"; }
.ift-maigouwang:before { content: "\e627"; }
.ift-upload:before { content: "\e628"; }
.ift-face:before { content: "\e629"; }
.ift-close:before { content: "\e608"; }
.ift-classify:before { content: "\e607"; }
.ift-select:before { content: "\e62a"; }
.ift-warn:before { content: "\e62b"; }
