@import "config";
.slider-main{
	height: 320px;
	.swiper-wrapper{
		height: 100%;
	}
	.swiper-slide {}
}


// floor楼层
.floor{
	&>.hd{
		i{
			float:left;
			position: relative;
			display: block;
			width: 46px;
			height: 44px;
			padding-top: 2px;
			margin-right: 8px;
			border:1px solid lighten(colors(green),15%);
			line-height: 36px;
			background-color: lighten(colors(green),15%);
			color: colors(white);
			text-align: center;
			font-style: normal;
			border-radius:50%;
			overflow: hidden;
			vertical-align: middle;
			&.icon-blue{
				border-color:lighten(colors(blue),15%);
				background-color: lighten(colors(blue),15%);
			}
			&.icon-orange{
				border-color:lighten(colors(orange),15%);
				background-color: lighten(colors(orange),15%);
			}
			&:after{
				content:'';
				height: 8px;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: colors(white);
				position: absolute;
			}
		}
	}
	.side,.main{
		@include float;
		width: 25%;
		height: 416px;
	}
	.side{
		a{
			display: block;
			width: 100%;
			height: 100%;
			background: no-repeat center center;
		}
	}
	.main{
		width: 75%;
		.item,.slider{
			@include float;
			width:25%;
			height: 208px;
			overflow: hidden;
		}
		.slider{
			width:50%;
		}
		.item{
			position: relative;
			font-size: fonts(size) * 1.4;
			cursor: pointer;
			&:hover{
				.info{
					height: 68px;
				}
			}
			.thumbnail{
				height: 100%;
				img{
					width:100%;
					height: 100%;
					background: no-repeat center center;
				}
			}
			a{
				color: colors(white);
			}
			.info{
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 24px;
				padding:0 8px;
				overflow: hidden;
				color:colors(white);
				transition:.3s ease-in;
				// transition-delay:.3s;
				&:before,.modify{
					content:'';
					position: absolute;
					left: 0;
					right:0;
					height: 100%;
					background-color: colors(black);
					@include opacity(50);
				}
			}
			.title{
				position: absolute;
				left: 8px;
				right: 8px;
				bottom: 24px;
				height: 40px;
				font-weight: normal;
				line-height: 18px;
				overflow: hidden;
				font-size: fonts(size) * 1.2;
			}
			.attr{
				position: absolute;
				left: 8px;
				right: 8px;
				bottom: 0;
				line-height: 24px;
			}
			.name{

			}
			.price{
				float: right;
				color: colors(auxiliary);
			}
		}
	}
}
.slider{
	.swiper-container{
		.ift-next,.ift-prev{
			font-size: fonts(size) * 2.4;
			padding:4px 0;
			margin-top: -12px;
			background-color: rgba(colors(white),.5)
		}
	}
}

// 养狗知识
.knowledge{
	.list{
		@include float;
		width: 22%;
		margin-right: 4%;
		overflow: hidden;
		@include last-child{
			margin-right:0;
		};
		&>dt{
			margin-bottom: 16px;
			img{
				width: 100%;
				height: 80px;
			}
		}
	}
}



// 友情链接&品牌商户
.tabs-index{
	&>.hd{
		height: 24px;
		&>ul{
			padding:0 12px;
			li{
				margin:0 12px;
			}
		}
		.modify{
			bottom: -20px;
			left: 432px;
		}
	}
	.item{
		@include float;
		margin-right: 16px;
		line-height: 2;
		font-size: fonts(size) * 1.4;
	}
}