@import "config";
.news{
	&>.hd{
		height: 40px;
		margin: 32px 0;
		.title{
			position: relative;
			@include float;
			margin: 0;
			padding: 0 24px;
			line-height: 40px;
			font-size: fonts(size) * 2.4;
			color: colors(white);
			font-weight: normal;
			background-color: colors(primary);
			&:before{
				position: absolute;
				left: 0;
				bottom: -16px;
				@include triangle(solid solid dashed dashed,8px 16px ,darken(colors(primary), 10%) darken(colors(primary), 10%) transparent transparent);
			}
		}
	}
}