@charset "UTF-8";
/**! 
 * @author colpu
 * @copyright mingfu network
 * 本配置基于scss框架,在运用时请注意是否安装sass
 */
/**
 * 获取颜色map方法
 * @parm $k 颜色的key值
 */
/**
 * 获取字体map方法
 * @parm $k 字体的key值
 */
/**
 * 获取层级map方法
 * @parm $k 颜色的key值
 */
/**
 * 获取圆角map方法
 * @parm $k 圆角的key值
 */
/**
 * 媒体查询相关mixin
 */
/**
 * 解决IE9以下不支持rgba，下面是rgba的替代
 * @param $color
 * @param $opacity
 */
.article {
  padding: 16px 0; }
  .article > .hd {
    margin-bottom: 32px; }
    .article > .hd .title {
      margin-bottom: 12px;
      line-height: 1.5;
      font-size: 32px;
      font-family: "Microsoft Yahei", SimSun, Tahoma, arial, SimHei, sans-serif;
      color: #5ccf5a;
      text-align: center; }
  .article .base-info {
    margin-bottom: 12px;
    text-align: center;
    font-size: 12px; }
    .article .base-info strong {
      color: #999;
      font-weight: normal; }
  .article .describe {
    position: relative;
    min-height: 40px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    padding-left: 48px;
    line-height: 1.5;
    font-size: 12px;
    background: #fcfcfc; }
    .article .describe > .hd {
      position: absolute;
      top: 0;
      left: 0;
      width: 48px;
      height: 100%;
      line-height: 100%;
      text-align: center;
      background: #ddd;
      display: table-cell;
      vertical-align: middle; }
      .article .describe > .hd > .title {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 32px;
        height: 32px;
        margin: -16px;
        line-height: 16px;
        font-weight: normal;
        color: #fff;
        font-size: 14px;
        font-family: "Microsoft Yahei", SimSun, Tahoma, arial, SimHei, sans-serif; }
    .article .describe > .bd {
      padding: 12px;
      text-indent: 2em; }
  .article > .bd {
    padding-bottom: 20px;
    line-height: 1.5; }
    .article > .bd embed {
      width: 100%;
      max-width: 720px;
      max-height: 480px; }
    .article > .bd p {
      margin-bottom: 10px;
      text-indent: 2em;
      line-height: 2; }
      .article > .bd p embed {
        margin-left: -2em; }
    .article > .bd img {
      margin-right: 16px; }
  .article .ft {
    font-size: 14px; }

.context > .item {
  line-height: 30px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  .context > .item > .time {
    display: inline;
    float: right;
    font-size: 12px;
    color: #999;
    margin-left: 8px; }
  .context > .item > strong {
    color: #999;
    font-weight: normal; }

.share-32 {
  margin-bottom: 16px; }

.conact {
  border: 1px solid #eaeaea; }
  .conact-side {
    display: inline;
    float: left;
    width: 20.83333%;
    background-color: #f8f8f8; }
    .conact-side > .hd {
      margin: 0 24px;
      padding: 24px 0;
      border-bottom: 1px dotted #eaeaea; }
      .conact-side > .hd .title {
        text-align: center;
        color: #3abf37;
        font-size: 24px; }
        .conact-side > .hd .title span {
          color: #5ccf5a;
          font-weight: normal;
          font-size: 14px;
          letter-spacing: 7px; }
  .aside-nav {
    font-size: 14px; }
    .aside-nav dt {
      padding-left: 32px;
      font-size: 16px;
      line-height: 40px;
      font-weight: bold; }
    .aside-nav dd {
      padding: 1px 0 1px 48px;
      line-height: 32px;
      /* &:hover{
					background-color: colors(white);
				} */ }
      .aside-nav dd.active, .aside-nav dd:hover {
        position: relative;
        margin-right: -1px;
        margin-left: -4px;
        padding: 0 0 0 49px;
        border: 1px solid #ddd;
        border-right: 0;
        border-left: 3px solid #ddd;
        background-color: #fff; }
      .aside-nav dd.active {
        border-left-color: #ff6600; }
        .aside-nav dd.active a {
          color: #ff6600; }
  .conact-main {
    margin-left: 20.83333%;
    padding: 48px;
    border-left: 1px solid #eaeaea; }
    .conact-main > .hd {
      border-bottom: 1px dotted #ddd;
      margin-bottom: 1rem; }
      .conact-main > .hd .title {
        font-size: 32px;
        font-family: "Microsoft Yahei", SimSun, Tahoma, arial, SimHei, sans-serif;
        text-align: center; }
    .conact-main > .bd {
      line-height: 1.5; }
      .conact-main > .bd embed {
        width: 100%;
        max-width: 720px;
        max-height: 480px; }
      .conact-main > .bd p {
        text-indent: 2em;
        margin-bottom: 1rem;
        line-height: 2; }
        .conact-main > .bd p embed {
          margin-left: -2em; }
      .conact-main > .bd dd {
        margin-bottom: 1rem;
        line-height: 2; }
      .conact-main > .bd dt {
        font-weight: bold;
        margin-bottom: .5rem; }

/*# sourceMappingURL=conact.css.map */
