@charset "UTF-8";
/**! 
 * @author colpu
 * @copyright mingfu network
 * 本配置基于scss框架,在运用时请注意是否安装sass
 */
/**
 * 获取颜色map方法
 * @parm $k 颜色的key值
 */
/**
 * 获取字体map方法
 * @parm $k 字体的key值
 */
/**
 * 获取层级map方法
 * @parm $k 颜色的key值
 */
/**
 * 获取圆角map方法
 * @parm $k 圆角的key值
 */
.tips-attr:after, .tips-attr:before, .seller .contact > .item-drop:after, .seller .contact > .item-drop:before {
  content: "";
  height: 0;
  width: 0;
  overflow: hidden; }

/**
 * 媒体查询相关mixin
 */
/**
 * 解决IE9以下不支持rgba，下面是rgba的替代
 * @param $color
 * @param $opacity
 */
.tips-attr > .bd {
  padding: 9px;
  border: 1px solid #ffd1b3;
  font-size: 14px;
  font-family: "Microsoft Yahei", SimSun, Tahoma, arial, SimHei, sans-serif;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-ideograph;
  border-radius: 3px;
  color: #ff6600;
  background-color: #fffcfa;
  overflow: hidden; }
  .tips-attr > .bd strong {
    color: #fd5158;
    font-weight: bold; }
  .tips-attr > .bd .tips-title {
    font-size: 16px; }

.pro-intro > .hd .title {
  font-size: 24px;
  font-weight: normal;
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.pro-intro > .hd .time {
  display: inline;
  float: right;
  font-size: 12px;
  text-align: right;
  line-height: 1.25;
  margin-left: 16px;
  color: #999; }

.pro-intro > .bd {
  margin-left: 432px; }

.gallery {
  display: inline;
  float: left;
  width: 400px;
  margin-left: -432px; }
  .gallery > .bd {
    position: relative;
    height: 280px;
    margin-bottom: 8px; }
    .gallery > .bd img {
      width: 100%;
      height: 100%; }
  .gallery .zoom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center; }
    .gallery .zoom .ift-search {
      color: #fff; }
  .gallery .ift-prev, .gallery .ift-next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 16px;
    padding: 4px 2px;
    margin-top: -12px;
    cursor: pointer; }
  .gallery .ift-prev {
    left: 0; }
  .gallery .ift-next {
    right: 0; }
  .gallery > .hd {
    height: 64px;
    overflow: hidden; }
    .gallery > .hd li {
      display: inline;
      float: left;
      width: 99px;
      margin-right: 1px;
      background-color: #000; }
      .gallery > .hd li.active img {
        opacity: 1;
        filter: alpha(opacity=100); }
      .gallery > .hd li img {
        opacity: 0.5;
        filter: alpha(opacity=50);
        width: 100%; }

.pro-intro .main {
  display: inline;
  float: left;
  width: 100%; }
  .pro-intro .main * {
    vertical-align: middle; }
  .pro-intro .main .col2 {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px dotted #ddd; }
    .pro-intro .main .col2 .attr {
      width: 50%;
      display: inline;
      float: left;
      font-size: 14px; }
      .pro-intro .main .col2 .attr > dt, .pro-intro .main .col2 .attr > dd {
        height: 30px;
        line-height: 30px; }
  .pro-intro .main .attr {
    font-size: 14px; }
    .pro-intro .main .attr > dt {
      display: inline;
      float: left;
      color: #999;
      margin-right: 4px; }
    .pro-intro .main .attr > dt, .pro-intro .main .attr > dd {
      height: 40px;
      line-height: 40px; }
  .pro-intro .main .opt {
    margin: 16px 0;
    font-size: 14px; }
  .tips-attr {
    display: inline-block;
    position: relative;
    z-index: 2; }
    .tips-attr:after, .tips-attr:before {
      position: absolute;
      left: 0;
      top: -2px;
      border-top: 7px solid #ffd1b3;
      border-left: 7px dashed transparent;
      border-right: 7px dashed transparent; }
    .tips-attr:after {
      top: -3px;
      border-top: 7px solid #fffcfa;
      border-left: 7px dashed transparent;
      border-right: 7px dashed transparent; }
    .tips-attr:hover > .bd {
      display: block; }
    .tips-attr .tips-title {
      font-weight: normal;
      margin-bottom: 8px; }
    .tips-attr > .bd {
      display: none;
      position: absolute;
      left: -16px;
      bottom: 32px;
      width: 300px;
      color: #333;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }
      .tips-attr > .bd dl {
        padding-left: 40px;
        font-size: 12px; }
      .tips-attr > .bd dt {
        display: inline;
        float: left;
        margin-left: -40px;
        color: #999; }
      .tips-attr > .bd dt, .tips-attr > .bd dd {
        line-height: 1.5; }
      .tips-attr > .bd dd {
        margin-bottom: 8px; }

.pro-details {
  line-height: 1.5; }
  .pro-details p {
    margin-bottom: 1rem;
    text-align: justify;
    text-justify: auto;
    text-indent: 2rem; }
  .pro-details .bd img {
    width: 640px; }
  .pro-details .bd img + img {
    margin-top: 24px; }

.seller {
  padding: 16px;
  background-color: #fcfcfc; }
  .seller .figure {
    padding-left: 64px; }
    .seller .figure .thumbnail {
      display: inline;
      float: left;
      width: 56px;
      height: 56px;
      margin-left: -64px;
      border-radius: 50%;
      overflow: hidden; }
    .seller .figure .figcaption {
      padding: 4px 0;
      line-height: 24px;
      font-size: 12px; }
    .seller .figure .title {
      height: 24px;
      font-size: 18px; }
    .seller .figure [class*="ift-"] {
      font-size: 12px; }
  .seller .box-center > .hd {
    height: 12px;
    margin: 0 auto 16px; }
    .seller .box-center > .hd > .title {
      display: inline-block;
      height: 24px;
      line-height: 24px;
      padding: 0 8px;
      margin-bottom: -12px;
      font-size: 12px;
      font-weight: normal;
      color: #999;
      background-color: #fcfcfc; }
  .seller .box-center > .bd {
    font-size: 12px; }
  .seller .contact {
    height: 40px;
    margin-bottom: 8px; }
    .seller .contact > .item {
      display: inline;
      float: left;
      width: 25%;
      text-align: center;
      position: relative;
      cursor: pointer; }
      .seller .contact > .item-drop {
        font-size: 12px; }
        .seller .contact > .item-drop:after, .seller .contact > .item-drop:before {
          display: none;
          position: absolute;
          left: 50%;
          top: -8px;
          margin-left: -7px;
          border-top: 7px solid #ddd;
          border-left: 7px dashed transparent;
          border-right: 7px dashed transparent; }
        .seller .contact > .item-drop:after {
          top: -9px;
          border-top-color: #fff; }
      .seller .contact > .item:hover:after, .seller .contact > .item:hover:before {
        display: block; }
      .seller .contact > .item:hover > .bd {
        visibility: visible; }
      .seller .contact > .item > .bd {
        visibility: hidden;
        position: absolute;
        width: 114px;
        height: 138px;
        bottom: 48px;
        right: 0;
        border: 1px solid #ddd;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        border-radius: 3px;
        color: #999; }
      .seller .contact > .item .tel {
        display: inline-block;
        width: 40px;
        height: 40px;
        position: relative; }
        .seller .contact > .item .tel .ift-phone {
          position: relative;
          z-index: 1; }
        .seller .contact > .item .tel:hover {
          z-index: 1; }
          .seller .contact > .item .tel:hover .txt {
            visibility: visible;
            padding-right: 16px;
            width: auto; }
      .seller .contact > .item .txt {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 0 0 40px;
        width: 0;
        height: 40px;
        line-height: 40px;
        font-size: 24px;
        color: #fff;
        white-space: nowrap;
        border-radius: 20px;
        background-color: #fd5158;
        overflow: hidden;
        transition: .3s ease-in; }
    .seller .contact [class*="ift-"] {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      color: #fff;
      font-size: 24px;
      border-radius: 50%;
      vertical-align: top; }
    .seller .contact .ift-qq {
      background-color: #5ccf5a; }
    .seller .contact .ift-weixin {
      background-color: #1c9ef6; }
    .seller .contact .ift-phone {
      background-color: #fd5158; }
    .seller .contact .ift-wangwang {
      background-color: #1c9ef6; }
  .seller .address > .bd {
    height: 40px;
    margin-bottom: 8px;
    line-height: 20px;
    overflow: hidden; }

/*# sourceMappingURL=details.css.map */
