@charset "UTF-8";
//公用模块盒子hd,bd,ft
.box{
	&>.hd{
		height:48px;
		border-bottom:1px solid colors(gray);
		.title{
			@include float;
			height:40px;
			padding-top: 7px;
			border-bottom: 3px solid colors(auxiliary);
			margin-bottom: -1px;
			line-height:40px;
			font-weight: normal;
			font-size: fonts(size) * 2.4;
			font-family: fonts(family);
			cursor: pointer;
		}		
		.more{
			@include float(right);
			padding: 0 16px;
			height: 32px;
			font-size: fonts(size) * 1.4;
			color:colors(white);
			background:colors(blue);
			text-align: center;
		}
		.ift-more{
			display: block;
			font-size: fonts(size) * 1.3;
			margin-top: 4px;
		}
	}	
	&>.bd{
		padding: 16px 0;
	}
	@at-root &-f18{
		&>.hd{
			.title{
				font-size: fonts(size) * 1.8;
			}
		}
	}
}

.box-center{
	&>.hd{
		height: 24px;
		margin:40px 0;
		border-bottom:1px solid colors(gray);
		text-align: center;
		&>.title,&>ul{
			display:inline-block;
			height:48px;
			margin-bottom: -24px;
			padding:0 24px;
			line-height: 48px;
			background-color: colors(white);
			vertical-align: top;
		}
	}
}